/* RESET DASAR */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #081826;
  z-index: 999;
}

.logo-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 90px;
  height: auto;
}

/* DESKTOP MENU */
.nav-desktop {
  display: flex;
  gap: 20px;
}

.nav-desktop a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.85;
  transition: 0.3s;
}

.nav-desktop a:hover {
  color: #00a3e0;
  opacity: 1;
}

/* HAMBURGER */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

/* SIDE MENU */
.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  background: #0b1c2d;
  padding: 30px 25px;
  transition: 0.4s;
  z-index: 2000;
  display: flex;
  flex-direction: column;
}

.side-menu.active {
  right: 0;
}

.side-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 15px 0;
}

.close-btn {
  font-size: 28px;
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 20px;
}

/* OVERLAY */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  z-index: 1500;
}

.menu-overlay.active {
  display: block;
}

/* RESPONSIVE */
@media(max-width:900px) {
  .nav-desktop {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}
/* ================= TEST DRIVE MODAL ================= */

.testdrive-modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.testdrive-content{
    background:#0b2a3c;
    padding:25px;
    width:90%;
    max-width:400px;
    border-radius:12px;
    position:relative;
    display:flex;
    flex-direction:column;
    gap:12px;
}

.testdrive-content h2{
    margin:0;
    color:#00e676;
    font-size:18px;
}

.testdrive-content input,
.testdrive-content select{
    padding:10px;
    border:none;
    border-radius:8px;
    font-size:14px;
}

.testdrive-content button{
    padding:12px;
    border:none;
    border-radius:25px;
    background:#00e676;
    font-weight:600;
    cursor:pointer;
}

.testdrive-content button:hover{
    opacity:0.9;
}

.close-modal{
    position:absolute;
    top:10px;
    right:15px;
    cursor:pointer;
    font-size:20px;
    color:white;
}
